@page "/"

<PageTitle>Aptivi Project Demos</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using System.IO
@using System.Text.Json
@using Demos.Data
@inject NavigationManager NavManager

<Hero Title="Demos">
	Here lists all our demonstration projects that we can showcase in this webpage. This covers
	all the demonstrations that we can show here across different libraries, categorized by
	library, then by purpose. We are slowly adding more demonstrations by the end of this year.
</Hero>
<BrandedBorder>
	<h1>Text tools</h1>
	<Features FeatureArray="@TextDemonstrations" Invert="true" />
</BrandedBorder>

@code
{
	FeatureDescriptor[] TextDemonstrations =>
	[
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Text Casing - Upper First",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("text/casing/upperfirst"))), "Showcase")
			],
			Description =
				"Showcases how Textify can make the first letter of a string uppercase."
		},
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Text Casing - Lower First",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("text/casing/lowerfirst"))), "Showcase")
			],
			Description =
				"Showcases how Textify can make the first letter of a string lowercase."
		},
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Text Casing - Title Case",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("text/casing/titlecase"))), "Showcase")
			],
			Description =
				"Showcases how Textify can convert the string casing to be suitable for titles."
		},
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Prefixes and Suffixes - Prefix Addition",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("text/prefixes/addprefix"))), "Showcase")
			],
			Description =
				"Showcases how Textify can add a prefix to the string."
		},
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Prefixes and Suffixes - Suffix Addition",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("text/prefixes/addsuffix"))), "Showcase")
			],
			Description =
				"Showcases how Textify can add a suffix to the string."
		},
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Prefixes and Suffixes - Prefix Removal",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("text/prefixes/removeprefix"))), "Showcase")
			],
			Description =
				"Showcases how Textify can remove a prefix from the string."
		},
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Prefixes and Suffixes - Suffix Removal",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("text/prefixes/removesuffix"))), "Showcase")
			],
			Description =
				"Showcases how Textify can remove a suffix from the string."
		},
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Prefixes and Suffixes - Prefix Verification",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("text/prefixes/verifyprefix"))), "Showcase")
			],
			Description =
				"Showcases how Textify can verify a prefix in the string."
		},
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Prefixes and Suffixes - Suffix Verification",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("text/prefixes/verifysuffix"))), "Showcase")
			],
			Description =
				"Showcases how Textify can verify a suffix in the string."
		},
	];
}
