@page "/text/prefixes/addprefix"

<PageTitle>Textify - Prefixes and Suffixes - Prefix Addition - Aptivi Project Demos</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using System.IO
@using System.Text.Json
@using Demos.Data
@using Textify.General
@inject IJSRuntime JSRuntime;

<Hero Title="Textify - Prefixes and Suffixes - Prefix Addition">
	You can demonstrate a feature from Textify where we showcase the text casing feature,
	and we provide the API documentation here for future reference. This demonstrates the
	"Add prefix" feature.
</Hero>
<BrandedBorder>
	<div class="mb-3">
		<label class="form-label">Enter some text:</label>
		<InputText class="form-control" @bind-Value="Input"></InputText>
	</div>
	<div class="mb-3">
		<label class="form-label">Enter some prefix:</label>
		<InputText class="form-control" @bind-Value="Prefix"></InputText>
	</div>
	<label><InputCheckbox @bind-Value="Verify"></InputCheckbox> Verify the prefix</label>
	<p>Result from <code>AddPrefix()</code>: @Result</p>
    @if (Errored)
    {
        <p>Error obtaining results: @ErrorReason</p>
    }
	<div class="d-grid gap-2 d-sm-flex">
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[0]">Add prefix</button>
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[1]">API Reference</button>
	</div>
</BrandedBorder>

@code {
	public string Input { get; set; } = "Hello world!";
	public string Prefix { get; set; } = "You're saying: ";
    public bool Verify { get; set; } = true;
    public bool Errored { get; set; } = false;
    public string ErrorReason { get; set; } = "";
	public string Result { get; set; }
	public EventCallback[] ClickEvents => [
		EventCallback.Factory.Create(this, ProcessInput),
		EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://aptivi.github.io/Textify/api/Textify.General.TextTools.html#Textify_General_TextTools_AddPrefix_System_String_System_String_System_Boolean_", "_blank"))),
	];

	public void ProcessInput()
    {
        try
        {
            Errored = false;
            Result = (Input ?? "").AddPrefix(Prefix, Verify);
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorReason = ex.Message;
        }
	}
}
