@page "/text/verify/endswithanystrings"

<PageTitle>Textify - Verification - Ends With Any (Strings) - Aptivi Project Demos</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using System.IO
@using System.Text.Json
@using Demos.Data
@using Textify.General
@inject NavigationManager NavManager

<Hero Title="Textify - Verification - Ends With Any (Strings)">
	You can demonstrate a feature from Textify where we showcase the text casing feature,
	and we provide the API documentation here for future reference. This demonstrates the
	"Ends with any of strings" feature.
</Hero>
<BrandedBorder>
	<div class="mb-3">
		<label class="form-label">Enter some text:</label>
		<InputText class="form-control" @bind-Value="Input"></InputText>
	</div>
	<div class="mb-3">
		<label class="form-label">Enter string sequences delimited by "|":</label>
		<InputText class="form-control" @bind-Value="Sequences"></InputText>
	</div>
    <p>Result from <code>EndsWithAnyOf()</code>: @Result</p>
    @if (Errored)
    {
        <p>Error obtaining results: @ErrorReason</p>
    }
	<div class="d-grid gap-2 d-sm-flex">
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[0]">Test condition</button>
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[1]">API Reference</button>
	</div>
</BrandedBorder>

@code {
	public string Input { get; set; } = "Can you believe that Nitrocid is awesome and powerful?";
    public string Sequences { get; set; } = "awesome?|powerful?";
    public bool Errored { get; set; } = false;
    public string ErrorReason { get; set; } = "";
	public string Result { get; set; }
	public EventCallback[] ClickEvents => [
		EventCallback.Factory.Create(this, ProcessInput),
		EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("https://aptivi.github.io/Textify/api/Textify.General.TextTools.html#Textify_General_TextTools_EndsWithAnyOf_System_String_System_String___"))),
	];

	public void ProcessInput()
    {
        try
        {
            Errored = false;
            Result = $"{(Input ?? "").EndsWithAnyOf(Sequences.Split("|"))}";
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorReason = ex.Message;
        }
	}
}
