@page "/text/casing/upperfirst"

<PageTitle>Textify - Text Casing - Upper First - Aptivi Project Demos</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using System.IO
@using System.Text.Json
@using Demos.Data
@using Textify.General
@inject IJSRuntime JSRuntime;

<Hero Title="Textify - Text Casing - Upper First">
	You can demonstrate a feature from Textify where we showcase the text casing feature,
	and we provide the API documentation here for future reference. This demonstrates the
	"Uppercase first letter" feature.
</Hero>
<BrandedBorder>
	<div class="mb-3">
		<label class="form-label">Enter some text:</label>
		<InputText class="form-control" @bind-Value="Input"></InputText>
	</div>
	<p>Result from <code>UpperFirst()</code>: @Result</p>
    @if (Errored)
    {
        <p>Error obtaining results: @ErrorReason</p>
    }
	<div class="d-grid gap-2 d-sm-flex">
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[0]">Convert casing</button>
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[1]">API Reference</button>
	</div>
</BrandedBorder>

@code {
    public string Input { get; set; } = "hello world!";
    public bool Errored { get; set; } = false;
    public string ErrorReason { get; set; } = "";
	public string Result { get; set; }
	public EventCallback[] ClickEvents => [
		EventCallback.Factory.Create(this, ProcessInput),
		EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://aptivi.github.io/Textify/api/Textify.General.TextTools.html#Textify_General_TextTools_UpperFirst_System_String_", "_blank"))),
	];

	public void ProcessInput()
    {
        try
        {
            Errored = false;
            if (string.IsNullOrEmpty(Input))
                Result = "";
            else
                Result = (Input ?? "").UpperFirst();
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorReason = ex.Message;
        }
	}
}
