@page "/text/manipulation/replaceoccurrence"

<PageTitle>Textify - Manipulation - Replace Occurrence - Aptivi Project Demos</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using System.IO
@using System.Text.Json
@using Demos.Data
@using Textify.General
@inject NavigationManager NavManager

<Hero Title="Textify - Manipulation - Replace Occurrence">
	You can demonstrate a feature from Textify where we showcase the text casing feature,
	and we provide the API documentation here for future reference. This demonstrates the
	"Replace Occurrence" feature.
</Hero>
<BrandedBorder>
	<p>Enter some text: <InputText @bind-Value="Input"></InputText></p>
	<p>Enter replacement source: <InputText @bind-Value="Source"></InputText></p>
	<p>Enter replacement target: <InputText @bind-Value="Target"></InputText></p>
	<p>Enter occurrence index (from zero): <InputNumber @bind-Value="OccurrenceIdx"></InputNumber></p>
	<p>Result from <code>ReplaceOccurrence()</code>: @Result</p>
	<div class="d-grid gap-2 d-sm-flex">
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[0]">Process</button>
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[1]">API Reference</button>
	</div>
</BrandedBorder>

@code {
	public string Input { get; set; } = "And here, we have with us Steve, Timothy, Thomas, John, Zack, Louise, Louise, and Louise.";
	public string Source { get; set; } = "Louise";
	public string Target { get; set; } = "Bruce";
	public int OccurrenceIdx { get; set; } = 0;
	public string Result { get; set; }
	public EventCallback[] ClickEvents => [
		EventCallback.Factory.Create(this, ProcessInput),
		EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("https://aptivi.github.io/Textify/api/Textify.General.TextTools.html#Textify_General_TextTools_ReplaceOccurrence_System_String_System_String_System_String_System_Int32_"))),
	];

	public void ProcessInput()
	{
		Result = $"{(Input ?? "").ReplaceOccurrence(Source, Target, OccurrenceIdx)}";
	}
}
